
body {
  background-color: #0f172a;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #1e293b;
}

a {
  color: #38bdf8;
}
.contacto-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0f172a, #020617);
}

.contacto-card {
  background: #1e293b;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
  max-width: 420px;
  width: 100%;
  text-align: center;
  border: 1px solid rgba(56, 189, 248, 0.3);
}

.contacto-title {
  font-size: 2rem;
  color: #38bdf8;
  margin-bottom: 15px;
}

.contacto-info p {
  background: #0f172a;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}